<h1>Action Cable Signaling Server</h1>

<span id="xirsys-creds" data-xirsys='<%= @json_res.html_safe %>'>
</span>

<div>Random User ID:
  <span id="currentUser" class="badge badge-primary"><%= @rand_number %></span>
</div>

<div id="remoteViewContainer"></div>

<div class="row">
  <div class="col-md-12">
    <div id="localViewContainer">
      <video id="selfView" autoplay></video>
    </div>
  </div>
</div>

<div id="join-btn-container">
  <button onclick="handleJoinSession()" class="btn btn-success">
    Join Room
  </button>
</div>

<div id="leave-btn-container">
  <button onclick="handleLeaveSession()" class="btn btn-danger">
    Leave Room
  </button>
</div>



<% content_for :page_js do %>
  <script type="text/javascript">
    <%= render file: "#{Rails.root}/app/views/pings/js/oneVideo.js" %>
  </script>
<% end %>
